nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0;
  width: 100%;
  background-color: #145DA0;
  border: none;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* If you're centering the content */
    height: 100vh; /* Full height */
    margin-top: -100px; /* Move up */
  }

  body {
    background-color: #0C2D48;
    font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  }
  